@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.card {
  width: 892px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card .left {
  width: 480px;
  height: 553px;
  background: #CC3843;
  border-radius: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card .left .wordmark {
  opacity: 0.2;
  -webkit-transform: rotate(-90deg) scale(1.2);
  transform: rotate(-90deg) scale(1.2);
  margin-left: -90px;
}

.card .right {
  width: 654px;
  height: 479px;
  background: #0c1f2c;
  position: absolute;
  left: -10%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  border-radius: 23px;
}

.card .right .helmet {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card .right .productInfo {
  width: 300px;
  height: 300px;
  margin: 50px 0 0 235px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.card .right .productInfo h1 {
  font-weight: 800;
  line-height: 46px;
  font-size: 40px;
  margin-bottom: 15px;
}

.card .right .productInfo h2 {
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 1.6px;
  margin-bottom: 30px;
}

.card .right .productInfo .details {
  height: 145px;
}

.card .right .productInfo .details .size,
.card .right .productInfo .details .durability {
  width: 50%;
  float: left;
}

.card .right .productInfo .details .size {
  border-right: 1px solid #CB1F40;
  padding: 30px 0;
}

.card .right .productInfo .details .durability {
  text-align: center;
}

.card .right .productInfo .details .durability h4 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.card .right .productInfo button {
  height: 48px;
  background: #CB2140;
  border-radius: 90px;
  font-weight: 300;
  line-height: 35px;
  font-size: 14px;
  padding: 0 24px;
  color: #fff;
}

.card .right .productInfo i.fav {
  font-size: 12px;
  margin: 0 12px 0 24px;
  color: #CB2140;
}

.card .right .productInfo a {
  font-size: 12px;
  color: #fff;
  opacity: 0.3;
  text-decoration: none;
}

.card .right .productInfo h3 {
  width: 80px;
  height: 80px;
  font-weight: 300;
  line-height: 80px;
  font-size: 16px;
  margin-left: 30px;
  positon: relative;
}

.card .right .productInfo h3:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #CB1F40;
  border-top-color: transparent;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%);
}

.card .right .productInfo h4 {
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.card .right .productInfo p {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: normal;
  text-align: center;
  font-weight: 300px;
  line-height: 28px;
  font-size: 14px;
  border-radius: 50%;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  border: 1px solid transparent;
  cursor: pointer;
}

.card .right .productInfo p:hover {
  border: 1px solid #CB1F40;
}

.card .right .productInfo p:nth-of-type(1) {
  border: 1px solid #CB1F40;
}

.slider {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  margin-left: -30px;
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
  color: #CB1F40;
  cursor: pointer;
}

.slider:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: -60px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 576px) {
  .card {
    -webkit-transform: rotate(90deg) scale(0.7) translate(calc(50% - 25vh), 50%);
    transform: rotate(90deg) scale(0.7) translate(calc(50% - 25vh), 50%);
    position: static;
  }
}

.youtube {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  position: absolute;
  right: 2.5vw;
  bottom: 2vw;
  -webkit-transform: translate(, );
  transform: translate(, );
  -webkit-animation: clickMe 1s ease-in-out infinite;
  animation: clickMe 1s ease-in-out infinite;
}

@-webkit-keyframes clickMe {
  50% {
    opacity: 0.5;
  }
}

@keyframes clickMe {
  50% {
    opacity: 0.5;
  }
}